.all-videos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;

    
}
@media (max-width: 750px) {
    .all-videos {
        grid-template-columns: 1fr 1fr;
        margin-left: 50px;

    }
}

@media (min-width:751px) and 
(max-width:999px) {
    .all-videos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .all-videos {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.video {
    min-width: 200px;
    /* display: block; */
}
.up-side {
    margin-bottom: 10px;
    object-fit: cover;
    position: relative;
}
.thumbnail {
    width: 100%;
}
.video-count {
    position: absolute;
    right: 10px;
    bottom: 8px;
    background-color: black;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: 14px;
}
.down-side {
    display: grid;
    grid-template-columns: 40px 1fr;
    justify-content: top;
    line-height: 20px;
}
.channel-icon {
    width: 40px;
    border-radius: 20px;
}
.right-side {
    margin-left: 10px;
}
.title {
    margin: 0;
    margin-bottom: 10px;
}
.channel-name , .status {
    margin: 0;
    font-size: 14px;
    color: gray;
}